@{
    ViewBag.Title = "Index";
}
<h2>Options</h2>
<p>@Html.ActionLink("Cars without Owner", "CarsWithoutOwner")</p>
<p>@Html.ActionLink("Owners with more than one car", "OwnersWithMultipleCars")</p>
<p>@Html.ActionLink("All Cars produced in a certain period", "CarsYopRange")</p>
<p>@Html.ActionLink("All Owners whose age is in a certain range", "OwnersAgeRange")</p>
<p>@Html.ActionLink("All Owners sorted", "OwnersSorted")</p>
<p>@Html.ActionLink("Search through all cars and their owners by string", "CarsContains")</p>






